.card-item-img {
    width: 100%;
    object-fit: cover;
}

.phone-detail-img {
    object-fit: cover;
    width: 100%;
}

@media (max-width: 992px) {
    .phone-detail-img {
        width: 75%;
        height: auto;
    }
}