.card-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 0 auto;
}
@media (max-width: 576px) {
    .card-list {
        justify-content: space-evenly;
    }
}
@media (min-width: 768px) {
    .card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 1px;
        grid-auto-rows: minmax(100px, auto);
    }
}

@media (min-width: 992px) {
    .card-list {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 1200px) {
    .card-list {
        grid-template-columns: repeat(5, 1fr);
    }
}


